<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  <specFlow>
    <!--<language feature="en-US" tool="{not-specified}" />
  <bindingCulture name="{not-specified}" />-->
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
    <!-- use unit test provider SpecRun+NUnit or SpecRun+MsTest for being able to execute the tests with SpecRun and another provider <unitTestProvider name="NUnit" />-->
    <!--<generator 
      allowDebugGeneratedFiles="false" 
      allowRowTests="true"
      generateAsyncTests="false"
      path="{not-specified}" />-->
    <runtime stopAtFirstError="false" missingOrPendingStepsOutcome="Inconclusive" />
    <trace traceSuccessfulSteps="true" traceTimings="false" minTracedDuration="0:0:0.1" stepDefinitionSkeletonStyle="RegexAttribute" />
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config   -->
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config --><!-- use unit test provider SpecRun+NUnit or SpecRun+MsTest for being able to execute the tests with SpecRun and another provider --><unitTestProvider name="SpecRun" />
    <plugins>
      <add name="SpecRun" />
    </plugins>
    <stepAssemblies>
      <!-- This attribute is required in order to use StepArgument Transformation as described here; 
    https://github.com/marcusoftnet/SpecFlow.Assist.Dynamic/wiki/Step-argument-transformations  -->
      <!-- This attribute is required in order to use StepArgument Transformation as described here; 
    https://github.com/marcusoftnet/SpecFlow.Assist.Dynamic/wiki/Step-argument-transformations  --><stepAssembly assembly="SpecFlow.Assist.Dynamic" />
    </stepAssemblies>
  <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config --></specFlow>
  <appSettings>
    <!--<add key="ConnString" value="data source=praksysDevDBNew.cloudapp.net;initial catalog=PraksysAutoTest;user id=PraksysAutoTest_Admin;password=P@ssw0rd_Admin_PraksysAutoTest;persist security info=True;" />            
    <add key="OcesUrl" value="https://oces:nemid4all@appletk.danid.dk/testtools/index.jsp"/>
    <add key="AftaleDetails_Tekst" value="Almen_Specflow_28112016_132706" />
    <add key="AftaleDetails_ID" value="6715" />
    -->
    <!-- Praksys detail-->
    <add key="App_Sync" value="60000" />
    <!-- Culture Info-->
    <add key="Culture_Info" value="" />
    <!-- Measure in millisecond 1 sec = 1000 millisecond -->
    <add key="Environment" value="Default" />
    <add key="URL" value="https://www.bilbasen.dk/" />
    <add key="UserName" value="" />
    <!-- Enter the userName details with delimiter ';'  login;Firstname;Lastname -->
    <add key="Password" value="" />
    <add key="CPR" value="" />
    <add key="Profile1_UserName" value="" />
    <!-- -->
    <add key="Profile1_Password" value="" />
    <add key="Profile2_UserName" value="" />
    <add key="Profile2_Password" value="" />
    <add key="Profile3_UserName" value="" />
    <add key="Profile3_Password" value="" />
    <add key="Hangfire_MaxWaitingTime" value="3" />
    <!-- The value is in minutes - Sync-->
    <!-- Self service  -->
    <add key="SelfServiceURL" value="" />
    <add key="NemID_UserName" value="" />
    <add key="NemID_Password" value="" />
    <add key="SelfService_cprNumber" value="" />
    <add key="DanIDURL" value="" />
    <!-- AOY  -->
    <add key="AOYURL" value="" />
    <!-- Browser Type-->
    <add key="Browser" value="Chrome" />
    <!-- Firefox/Chrome-->
    <!-- SFTP/FTP -->
    <add key="Host" value="" />
    <add key="FTP_User" value="" />
    <add key="FTP_pass" value="" />
    <add key="FTP_WDirectory" value="" />      
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="TechTalk.SpecFlow" publicKeyToken="0778194805d6db41" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
  </startup>  
</configuration>